@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
  font-size: 20px;
  font-family: "Open Sans-bold", sans-serif;
}


html {
  //background: linear-gradient(to right, #6a11cb 0%, #2575fc 50%);
  background: linear-gradient(to right, #1c8fe0 0%, #be423e 40%) ;
  //background-color: grey;
  background-size: 200% 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}


.delete-dialog-container-custom, .edit-todo-container-custom {
  .mat-dialog-container {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5em;
    padding-bottom: 0;
  }
}

input {
  background: transparent;
  color: white;
  font-size: 1em;
  outline: none;
  border: none;
}

.auth-block {
  width: 555px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;

  h1 {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
  }

  button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    background: none;

    &.login-btn, &.register-btn {
      font-size: .8em;
      margin-top: 15px;
      opacity: .8;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.58);

      &:hover {
        opacity: 1;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 20px 20px;
    background-color: white;

    .card-content {
      display: flex;
      border-radius: 15px 15px 0 0;

      .input-field {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;

        input {
          width: 100%;
          height: 70px;
          color: black;
          font-size: .9em;
          padding: 0 30px;
        }

        .error-container {
          margin: 0 0 0 10px;
          align-self: center;
          white-space: nowrap;
          color: #c80000;
          font-size: .9em;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: center;
          position: absolute;
          padding-right: 10px;
          right: 0;
          border: 1px solid transparent;
          border-radius: 5px;

          &:hover {
            border-color: #c80000;
          }

          &:hover .error-tooltip {
            display: block;
          }

          .error-tooltip {
            font-family: Open Sans-bold, sans-serif;
            border-radius: 5px;
            font-size: .9em;
            display: none;
            padding: 5px 0 5px 10px;
            margin-right: 10px;
            background-color: white;
          }
        }

        &:first-child {
          input {
            border-radius: 15px 0 0 0;
          }
        }

        &:last-child {
          //margin-left: auto;
          input {
            border-radius: 0 15px 0 0;
          }
        }
      }
    }

    .card-action {
      background: linear-gradient(to left, #3384be 0%, #b94c49 100%);
      border-radius: 0 0 15px 15px;

      button[type='submit'] {
        width: 100%;
        height: 70px;
        font-size: .9em;
        border-radius: 0 0 15px 15px;
        background-color: black;
        transition-property: background-color;
        transition-duration: .5s;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
