mat-dialog-content {
  position: relative;

}

mat-form-field {
  width: 100%;
  font-size: .8em;
  label {
    display: block;
    margin-bottom: 10px;
    color: #004470;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  border: none;
  outline: none;

  &:hover {
    color: lighten(black, 50);
  }

  &:active {
    color: black;
  }
}

.invalid {
  border: #7c0000;
}

.actions {
  align-self: center;
}

.save-btn {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  span {
    vertical-align: bottom;
  }
}

