<div class="auth-block">
  <h1>Создать аккаунт</h1>
  <form class="register form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
  >
    <div class="card-content">
      <div class="input-field">
        <input
          placeholder="Email"
          formControlName="email"
          id="email"
          type="email"
          required
          [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}"
        >
        <div *ngIf="form.get('email').invalid && form.get('email').touched"
             class="error-container fas fa-exclamation"
        >
        <span *ngIf="form.get('email').errors['required']"
              class="error-tooltip">
          Введите Email
        </span>
          <span *ngIf="form.get('email').errors['email']"
                class="error-tooltip"
          >
            Некорректный email
          </span>
        </div>

      </div>
      <div class="input-field">
        <input
          placeholder="Пароль"
          formControlName="password"
          id="password"
          type="password"
          required
          [ngClass]="{invalid: form.get('password').invalid && form.get('password').touched}"
        >
        <span
          *ngIf="form.get('password').invalid && form.get('password').touched"
          class="error-container fas fa-exclamation"
        >
        <span *ngIf="form.get('password').errors['required']"
              class="error-tooltip">
          Введите пароль
        </span>
        <span *ngIf="form.get('password').errors['minlength']"
              class="error-tooltip">
          Пароль слишком короткий
          </span>
      </span>
      </div>
    </div>
    <div class="card-action">
      <button
        type="submit"
        class="modal-action btn waves-effect"
        [disabled]="form.invalid || form.disabled"
      >
        Создать
      </button>
    </div>
  </form>
  <button
    type="button"
    routerLink="/login"
    class="login-btn"
  >
    Войти
  </button>
</div>


