<div class="todos">
  <header class="create-todo">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
      <button
        (click)="logout()"
        class="remove material-icons">
        arrow_back
      </button>
      <input
        placeholder="Задача"
        formControlName="title"
        type="text"
        [ngClass]="{
          'invalid': form.get('title')?.invalid && form.get('title')?.touched
        }"
      >
      <button
        [disabled] = "form.invalid"
        [class.disabled] = "form.invalid"
        type="submit"
        class="material-icons">
        add
      </button>
    </form>
  </header>
  <main class="todos-content">
    <ul class="todos-list">
      <li class="todo-item" *ngFor="let todo of todos">
        <button
          [class.isComplete]="todo.status"
          (click)="switchCompleted(todo)"
          class="check material-icons">
          {{todo.status ? 'done_all' : 'done'}}
        </button>
        <span
          class="todo-title overflow"
          [ngClass]="{completed: todo.status }"
          (click)="editTodo(todo)">
          {{todo.title}}
        </span>
        <button
          (click)="deleteTodo(todo)"
          class="remove material-icons">
          delete
        </button>
      </li>
    </ul>
  </main>
</div>

