.auth-block {
  margin-top: 230px;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  font-size: 1.3em;
  background-color: white;
  color: #004470;
  box-sizing: border-box;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-action {
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    button {
      font-size: 1rem;
      outline: none;
      border: none;
      cursor: pointer;
      &:hover {
        color: rgba(0, 0, 0, 0.52);
      }
    }
    button[type="submit"] {
      margin-left: 5px;
      margin-right: auto;
    }
  }
}

.input-field {
  margin: 15px 15px;
  input {
    text-align: center;
    font-size: 1em;
    width: 100%;
    color: black;
    border-bottom: 2px solid #004470;
    &.invalid {
      border-color: #7c0000;
    }
  }

  span {
    font-size: 0.9em;
    color: #7c0000;
  }
}


