<div class="auth-block">
  <form class="login form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <span class="card-title">Войти в аккаунт</span>
    <div class="card-content">
      <div class="input-field">
        <input
          placeholder="email"
          formControlName="email"
          id="email"
          type="email"
          required
          [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}"
        >
        <span
          *ngIf="form.get('email').invalid && form.get('email').touched"
          class="helper-text red-text"
        >
        <span *ngIf="form.get('email').errors['required']">Email не может быть пустым</span>
        <span *ngIf="form.get('email').errors['email']">Некорректный email</span>
      </span>
      </div>
      <div class="input-field">
        <input
          placeholder="пароль"
          formControlName="password"
          id="password"
          type="password"
          required
          [ngClass]="{invalid: form.get('password').invalid && form.get('password').touched}"
        >
        <span
          *ngIf="form.get('password').invalid && form.get('password').touched"
          class="helper-text red-text"
        >
        <span *ngIf="form.get('password').errors['required']">Пароль не может быть пустым</span>
        <span
          *ngIf="form.get('password').errors['minlength']">Пароль должен быть больше {{form.get('password').errors['minlength']['requiredLength']}}
          символов</span>
      </span>
      </div>
    </div>
    <div class="card-action">

      <button
        type="submit"
        class="modal-action btn waves-effect"
        [disabled]="form.invalid || form.disabled"
      >
        Войти
      </button>
      <button
        type="button"
      routerLink="/register"
      class="register-btn"
    >
      Регистрация
    </button>
    </div>
  </form>
</div>
